.block-banner-cta {
    position: relative;
    padding: 4rem 0;
}

.block-banner-cta .container {
    position: relative;
    z-index: 2;
}

.banner-cta__heading {
    margin: 0;
}

.banner-cta__btn {
    margin-top: 2rem;
}

.banner-cta__img {
    position: absolute;
    inset: 0;
}