// =================================================================================
//   Extends
// =================================================================================

// ===== inline list =====
%list--inline {
    list-style: none;
    padding-right: 0;
    padding-left: 0;

    li {
        display: inline-block;
    }
}



// ===== BG Image Cover =====
%bg--cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



// ===== Flex Row =====
%flex--row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}



// ===== Flex Column =====
%flex--column {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
