// ===========================================================================================
//   Variables
// ===========================================================================================


// ============================================================================
//   Breakpoints / Grid -- min values
// ============================================================================
$container_max_width: 1270px;

$sm: 480px;
$md: 768px;
$lg: 991px;
$xl: 1199px;
$mw: $container_max_width;
$nav_break: $lg;




// ============================================================================
//   Fonts
// ============================================================================
$font_pri: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font_sec: serif;




// ============================================================================
//   Colors
// ============================================================================
// Please name colors other than black or white with the convention $color_pri,
// $color_sec, $color_ter, and so on. Please include a description of color.

$color_white: #fff;
$color_black: #000;

$color_pri: #6259ec; // bright purple
$color_sec: #0611f8; // royal blue
$color_sec_lt: lighten($color_sec, 10);
$color_sec_dk: darken($color_sec, 10);

$color_font: $color_black;

$color_html_bg: #88959d; // medium grey



// ============================================================================
//   Utility
// ============================================================================
