// ===========================================================================================
//   Breadcrumbs
// ===========================================================================================

.nav-breadcrumbs {}

.nav-breadcrumbs__list {
    padding: 0;
    list-style: none;
}

.breadcrumbs__item {
    display: inline-block;

    &::before {
        content: '\00a0\003E\00a0'; /* &gt; */
    }

    &:first-child::before {
        content: '';
    }
}
