// ===========================================================================================
//   Buttons
// ===========================================================================================

.btn {
    display: inline-block;
    padding: 0.375em 0.750em;
    border: 1px solid $color_pri;
    border-radius: 3px;
    background-color: transparent;
    color: $color_pri;
}
