// ===========================================================================================
//   Content – .content / styleguide / wysiwyg
// ===========================================================================================

.content {
    margin-bottom: 1.250em;

    & > *:first-child { margin-top: 0; }


    // ============================================================
    //   Headings
    // ============================================================
    h1,h2,h3,h4,h5,h6 {}

    h1 {
        @extend .style-h1 !optional;
    }

    h2 {
        @extend .style-h2 !optional;
    }

    h3 {
        @extend .style-h3 !optional;
    }

    h4 {}

    h5 {}

    h6 {}




    // ============================================================
    //   Lists
    // ============================================================
    ul ul,
    ul ol,
    ol ul,
    ol ol {
        margin-top: 0.5em;
        margin-bottom: 0;
    }

    li {
        margin-bottom: 0.5em;
        line-height: 1.333;
    }




    // ============================================================
    //   Lead
    // ============================================================
    .lead {
        font-size: 2em;
        font-style: italic;
        line-height: 1.25;
    }

    .lead + h2,
    .lead + h3,
    .lead + h4,
    .lead + h5,
    .lead + h6 {
        margin-top: 0.938em;
    }




    // ============================================================
    //   Callout
    // ============================================================
    .callout {
        padding: 0.938em 3.125em;
        font-style: italic;

        a {}
    }




    // ============================================================
    //   Call-to-action
    // ============================================================
    .call-to-action {
        margin: 1.250em 0;
        font-weight: bold;
    }

    .call-to-action a {

        &::after {
            content: '\f09b';
            position: relative;
            left: 0;
            display: inline-block;
            padding-left: 0.5em;
            font-size: 0.8em;
            font-family: "Black Tie";
            transition: left 0.3s;
        }

        &:hover, &:focus {
            &::after {
                left: 0.3em;
            }
        }
    }




    // ============================================================
    //   Footnote
    // ============================================================
    .footnote {
        margin-top: 3em;
        font-size: 0.85em;
        font-style: italic;
        line-height: 1.3;
    }


}
