// ===========================================================================================
//   Article Listing
// ===========================================================================================

.list-article:nth-of-type(n+2) {
    margin-top: 2.5em;
}




// =============================================================
//   Article Header
// =============================================================

.article-header {}

.article-header__title {
    margin: 0;
}

.article-header__title a {}



// =============================================================
//   Article Description
// =============================================================
.list-article__desc {
    margin-top: 0.7rem;
}




// =============================================================
//   Article Thumbnail
// =============================================================
.list-article__thumb {
    max-width: 300px;
    height: 175px;
    margin-top: 0;
    margin-bottom: 0.2em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include breakpoint($sm) {
        float: left;
        display: inline-block;
        width: 115px;
        height: 115px;
        margin-top: 0.5em;
        margin-right: 1em;
    }

    @include breakpoint($md) {
        width: 200px;
        height: 200px;
        margin-right: 1.5em;
        margin-bottom: 0.5em;
    }

    @include breakpoint($lg) {
        width: 225px;
        height: 225px;
        margin-bottom: 1em;
    }
}

.list-article--has-thumb .list-article__content {
    margin-top: 1rem;

    @include breakpoint($sm) {
        margin-top: 0.5rem;
    }

    @include breakpoint($md) {
        padding-left: calc(200px + 1.5em);
    }

    @include breakpoint($lg) {
        padding-left: calc(225px + 1.5em);
    }
}
