// ===========================================================================================
//   Section - Footer CTA
// ===========================================================================================

.footer-cta {}

.footer-cta__item {
    background-color: grey;
}

.footer-cta__item--has-img {
    @extend %bg--cover;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(grey, 0.8);
    }

    .footer-cta__inner {
        position: relative;
    }
}

.footer-cta__inner {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: $color_white;
    text-align: center;

    @include breakpoint($md) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    @include breakpoint($xl) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

.footer-cta__heading {
    margin: 0;
}

.footer-cta__desc {
    margin-top: 0.5rem;
}

.footer-cta__btn-group {
    margin-top: 1.5rem;

    .btn {}
}



// =============================================================
//   One CTA
// =============================================================
.footer-cta--count-1 {
    .footer-cta__inner {
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;
    }
}



// =============================================================
//   Two CTA
// =============================================================
.footer-cta--count-2 {
    @include breakpoint($md) {
        display: flex;
        flex-direction: row;

    }

    .footer-cta__item {
        padding-right: 2rem;
        padding-left: 2rem;

        @include breakpoint($md) {
            width: 50%;
            padding-right: 3rem;
            padding-left: 3rem;
        }
    }

    .footer-cta__item--0 {
        @include breakpoint(1350px) {
            padding-left: calc( (100vw - 1270px) / 2 );
        }
    }

    .footer-cta__item--1 {
        background-color: darken(grey, 10);

        @include breakpoint(1350px) {
            padding-right: calc( (100vw - 1270px) / 2 );
        }

        &.footer-cta__item--has-img {
            &::before {
                background: rgba(darken(grey, 10), 0.8);
            }
        }
    }
}
