// ===========================================================================================
//   Layout
// ===========================================================================================

.hero {
    position: relative;
    margin-bottom: 3rem;
    background-color: $color_pri;
}

.hero__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

// ===========================================================================================
//   Content
// ===========================================================================================

.hero__content {
    position: relative;
    padding: 3rem 0;
    background-color: rgba($color_black, .6);
    text-align: center;

    @include breakpoint($md) {
        padding: 6.5rem 0;
        text-align: left;
    }

    @include breakpoint($lg) {
        padding: 10rem 0;
    }
}

.hero__heading {
    margin: 1rem 0;
    color: $color_white;
    line-height: 1.1;
    font-weight: 400;
    text-shadow: 0 0 1rem rgba($color_black, 0.6);
}

.hero__subheading {
    margin: 1rem 0;
    color: $color_white;
    line-height: 1.4;
    font-weight: 400;
    text-shadow: 0 0 1rem rgba($color_black, 0.6);
}

.hero__link {
    margin: 1rem;

    @include breakpoint($md) {
        margin: 1rem 0;
    }

    & + & {
        @include breakpoint($md) {
            margin-left: 1rem;
        }
    }
}

// ===========================================================================================
//   Size Modifiers
// ===========================================================================================

.hero--medium {
    .hero__content {
        padding: 2.5rem 0;
    }

    .hero__heading {}

    .hero__subheading {}
}
