// ===========================================================================================
//   Links
// ===========================================================================================

a {
    color: $color_pri;
    text-decoration: none;
    transition: color 0.3s;

    &:hover,
    &:focus {
        color: darken($color_pri, 15);
        text-decoration: none;
    }
}

a.link-passive,
a.link-passive:visited,
a.link-passive:hover,
a.link-passive:focus,
a.link-passive:active {
    color: inherit;
    text-decoration: inherit;
}
