// ===========================================================================================
//   Navigation-Main
// ===========================================================================================

// Mobile Nav Active slide
.nav-main--active .body-overlay {
    -webkit-transform: translateX(-270px);
    -moz-transform: translateX(-270px);
    -ms-transform: translateX(-270px);
    transform: translateX(-270px);

    @include breakpoint($nav_break) {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.nav-main {
    position: absolute;
    right: -270px; // same as width
    top: 0;
    z-index: 101;
    display: block;
    margin: 0;
    padding: .7rem;
    width: 270px;
    background: $color_html_bg;
    overflow-x: hidden;

    @include breakpoint($nav_break) {
        position: static;
        padding: 0;
        width: 100%;
        background: transparent;
        overflow-x: visible;
    }
}

.nav-main__list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0; // collapse space between inline block items
}

.nav-main__list--mobile {
    display: block;

    @include breakpoint($nav_break) {
        display: none;
    }
}

.nav-main__list--primary {
    display: none;

    @include breakpoint($nav_break) {
        display: block;
    }
}

.nav-main__item {
    position: relative;
    display: block;
    font-size: 1rem;

    & {
        border-bottom: 1px solid rgba($color_white, 0.5);

        @include breakpoint($nav_break) {
            border-bottom: none;
        }
    }

    @include breakpoint($nav_break) {
        display: inline-block;
    }
}


// ==================== Nav Links ====================
.nav-main__item a {
    color: $color_white;

    @include breakpoint($nav_break) {
        color: $color_pri;
    }
}

.nav-main__item > a {
    display: block;
    padding: 10px 0;

    @include breakpoint($nav_break) {
        display: inline-block;
        padding: 0.5rem 1rem;
        background: #ddd;
        transition: background-color 0.5s;

        &:hover {
            background: darken(#ddd, 10);
        }
    }
}

.nav-main__item--active > a {
    @include breakpoint($nav_break) {
        background: darken(#ddd, 10);
    }
}

.nav-main__item--parent > a::after {
    content: '\f0a5';
    margin-left: 0.5em;
    font: 900 .9em/1 'Black Tie';
    opacity: 0.2;
}

.nav-main__item--parent > a:hover::after,
.nav-main__item--parent.nav-main__item--active > a::after {
    opacity: 1;
}

.nav-main__item--parent--mega {
    position: static;
}




// =============================================================
//   Submenu /  Dropdown
// =============================================================

.nav-main__submenu {
    display: none;
    width: auto;
    height: auto;
    background: none;
    box-shadow: 0 0 0 0 transparent;
    opacity: 1;

    @include breakpoint($nav_break) {
        position: absolute;
        left: 0;
        display: block;
        min-width: 10rem;
        height: 0;
        background: #ccc;
        overflow: hidden;
        opacity: 0;
        transition: opacity 0.5s;
    }
}

.nav-main__item--active .nav-main__submenu {
    height: auto;
    opacity: 1;
}

.nav-main__submenu--right {
    left: auto;
    right: 0;
}

.nav-main__submenu--mega {
    @include breakpoint($nav_break) {
        left: -1px;
        width: calc(100vw + 2px);
    }

    @include breakpoint($mw) {
        left: calc( (100vw - #{$mw}) / -2 - 1px );
    }
}

.nav-main__submenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-main__submenu li {
    display: inline;
}

.nav-main__submenu a {
    display: block;
    padding: .7rem .7em .7em 1em;
    font-size: .9em;
    text-decoration: none;

    @include breakpoint($nav_break) {
        padding: 0.75rem;

        &:hover {
            background: #aaa;
        }
    }
}



// =============================================================
//   Mobile Menu "icon"
// =============================================================

.toggle-nav-main {
    position: absolute;
    top: 1em;
    right: 2px; /* container padding and toggle padding */
    z-index: 9999;
    padding: 8px;
    cursor: pointer;

    @include breakpoint(350px) {
        right: calc(4vw - 8px);
    }

    @include breakpoint($md) {
        right: calc(35px - 8px);
    }

    @include breakpoint($nav_break) {
        display: none;
    }
}

.toggle-nav-main__wrap {
    position: relative;
    width: 30px;
    height: 20px;
    transition: -webkit-transform 0.5s ease-out;
    transition: -ms-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
}

.toggle-nav-main__bar {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 1000px;
    background: $color_pri;
    transition: all 0.5s ease-out;

    &:nth-child(1) {
        top: 0;
    }

    &:nth-child(2) {
        top: 50%;
        margin-top: -2px;
        opacity: 1;
    }

    &:nth-child(3) {
        bottom: 1px;
    }
}


// ==================== nav-open ====================
.nav-main--active .toggle-nav-main__wrap {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg); /* spins the whole toggle */
}

.nav-main--active .toggle-nav-main__bar {
    &:nth-child(1) {
        top: 50%;
        margin-top: -2px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &:nth-child(2) {
        opacity: 0;
    }

    &:nth-child(3) {
        bottom: 50%;
        margin-bottom: -1px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}
