// ===========================================================================================
//   Nav Article Meta
// ===========================================================================================

.nav-article-meta {}

.nav-article-meta__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-article-meta li {
    display: inline;

    &::before {
        content: '\00a0\2013\00a0'; /* &ndash; */
    }

    &:first-child::before {
        content: '';
    }
}
