// ===========================================================================================
//   Pagination
// ===========================================================================================

.nav-pagination {
    margin: 2rem 0;
    overflow: hidden;
}

.nav-pagination ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-pagination li {
    display: inline;
    margin: 0;
    padding: 0;
}

.nav-pagination li a,
.nav-pagination li span {
    float: left;
    border: 1px solid #ddd;
    border-left-width: 0;
    padding: 6px 10px;
    font-size: 14px;
}

.nav-pagination li:first-child a,
.nav-pagination li:first-child span {
    border-left-width: 1px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.nav-pagination li:last-child a,
.nav-pagination li:last-child span {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}





// ===========================================================================================
//   Prev / Next
// ===========================================================================================

.nav-prevnext {
    margin: .5em 0;
    overflow: hidden;
}

.nav-prevnext ul {
    padding: 0;
    list-style: none;
}

.nav-prevnext li {
    float: left;
    width: 40%;
}

.nav-prevnext li.nav-item-next {
    float: right;
    text-align: right;
}

.nav-prevnext li a {}

.nav-prevnext li.nav-item-prev a:before {
    content: '\00ab\00a0';
}

.nav-prevnext li.nav-item-next a:after {
    content: '\00a0\00bb';
}
