// ===========================================================================================
//   Search / Searchform
// ===========================================================================================

.searchform {
    max-width: 300px;
}

.searchform__group {
    position: relative;
    border: 1px solid #d7d7d7;
}

input.searchform__field {
    display: block;
    border: none;
    padding-right: 3em;
}

.searchform__btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding-right: 0.75em;
    padding-left: 0.75em;
    border: none;
    border-left: 1px solid #d7d7d7;
    border-radius: 0;
    background: transparent;
    color: #ccc;
}
