// ===========================================================================================
//   Sidebar
// ===========================================================================================

.sidebar {
    margin-bottom: 1.250em;

    ul {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.sidebar-item {}

.sidebar-item__heading {
    margin: 0;
}
