// ===========================================================================================
//   Document Header / Page Title
// ===========================================================================================

.site-headline {
    margin-bottom: 3rem;
}

.headline-title {
    margin: 0;
}
