// ===========================================================================================
//   Site Header
// ===========================================================================================

.site-header {
    position: relative;
    z-index: 100;

    @include breakpoint($nav_break) {
        padding-top: 1rem;
    }

    .container {
        position: relative;
    }
}



// =============================================================
//   Logo
// =============================================================
.header-logo {
    padding: 1rem 0;

    @include breakpoint($nav_break) {
        padding: 0;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}



// =============================================================
//   Header Utility
// =============================================================
.header-utility {
    display: none;

    @include breakpoint($nav_break) {
        display: block;
        position: absolute;
        top: 0;
        right: 20rem;
    }
}

.nav-utility {}

.nav-utility__list {
    @extend %list--inline;
    margin: 0;
    padding: 0;

    .menu-item {
        margin: 0 .5rem;
    }
}




// =============================================================
//   Header Search
// =============================================================
.header-search {
    position: relative;
    margin: 1rem 0;
    width: 100%;

    @include breakpoint($nav_break) {
        position: absolute;
        top: 0;
        right: 35px;
        margin: 0;
        width: 15rem;
    }
}



// =============================================================
//   Header Social
// =============================================================
.social--header {
    position: static;

    @include breakpoint($nav_break) {
        position: absolute;
        top: 4rem;
        right: 35px;
        display: inline-block;
    }
}
