// ===========================================================================================
//   Site-footer
// ===========================================================================================

.site-footer {
    margin-top: 3em;
    background: #F8F8F8;
}




// =============================================================
//   Footer Primary
// =============================================================

.nav-footer {}

.nav-footer__list {
    list-style: none;
    margin: 1 rem;
    padding: 0;
}



// =============================================================
//   Footer Secondary
// =============================================================

.footer-secondary {
    padding: 1rem 0;
    background: darken(#F8F8F8, 10);
}

.nav-legal {}

.nav-legal__list {
    @extend %list--inline;
    margin: 0;
    font-size: 0.8rem;

    & li:nth-child(n+2)::before {
        content: '|';
        margin-right: 0.5em;
        margin-left: 0.4em;
    }
}
