// ===========================================================================================
//   Social
// ===========================================================================================

.social {}

.social__list {
    @extend %list--inline;
    margin: 1rem 0;

    @include breakpoint($nav_break) {
        margin: 0;
    }
}

.social__item {}

.social__link {
    padding: .2rem;
}

.social-share {
    .social-share__label,
    .social__list {
        display: inline-block;
    }
}
