// ===========================================================================================
//   Global
// ===========================================================================================

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    overflow-x: hidden; /* mobile menu */
    background: $color_html_bg;
}

html {
    height: 100%;
    font-size: 100%;
    font-family: $font_pri;
    text-decoration-skip: auto;
    line-height: 1.6;

    @include breakpoint($lg) {
        font-size: 100%;
    }
}

body {
    margin: 0;
    overflow: hidden;
}

.body-overlay {
    position: relative;
    background: $color_white;
    transition: -webkit-transform 0.25s cubic-bezier(0.54, 0.12, 0.2, 1) 0s;
    transition: -moz-transform 0.25s cubic-bezier(0.54, 0.12, 0.2, 1) 0s;
    transition: -ms-transform 0.25s cubic-bezier(0.54, 0.12, 0.2, 1) 0s;
    -ms-transition: -ms-transform 0.25s cubic-bezier(0.54, 0.12, 0.2, 1) 0s;
    transition: transform 0.25s cubic-bezier(0.54, 0.12, 0.2, 1) 0s;
}

.site-columns {
    @include breakpoint($md) {
        min-height: 45vh;
    }
}

p {
    margin: 0.625em 0;
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.25;
}

h1 {
    margin: 0.625em 0;
    font-size: 2em;
}

.style-h1 {}

h2 {
    margin: 0.625em 0;
    font-size: 1.5em;
}

.style-h2 {}

h3 {
    margin: 0.625em 0;
    font-size: 1.25em;
}

.style-h3 {}

h4 {
    margin: 0.938em 0;
    font-size: 1.125em;
}

h5 {
    margin: 0.938em 0;
    font-size: 1em;
    line-height: 1.125;
}

h6 {
    margin: 0.938em 0;
    font-size: 1em;
    line-height: 1.125;
}

p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
    margin-top: 1.875em;
}

ul, ol {
    margin: 1.250em 0 0.625em;
}

hr {
    height: 1px;
    margin: 2rem 0;
    border: none;
    background: rgba($color_font, 0.3);

    @include breakpoint($md) {
        margin: 3rem 0;
    }
}

img {
    max-width: 100%;
    height: auto;
}

figure {
    max-width: 100%;
}


// ========== Focus Outline ==========
a:focus,
a img,
input:focus,
textarea:focus,
button:focus {
    outline: 0 none; /*Chrome Outline Fix*/
}


// ========== Inputs / Textarea ==========
input:not([type='radio']):not([type='checkbox']),
textarea,
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}

input[type='email'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea {
    width: 100%;
    outline: none;
    border: 1px solid #d7d7d7;
    border-radius: 0;
    padding: 0.4em 0.5em;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

button {
    font-size: 1em;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: #bbb;
    font-weight: 300;
    font-style: italic;
}
::-moz-placeholder {
    color: #bbb;
    font-weight: 300;
    font-style: italic;
}
:-moz-placeholder {
    color: #bbb;
    font-weight: 300;
    font-style: italic;
}
:-ms-input-placeholder {
    color: #bbb;
    font-weight: 300;
    font-style: italic;
}
:placeholder-shown {
    color: #bbb;
    font-weight: 300;
    font-style: italic;
}




// =============================================================
//   Tables
// =============================================================
.table__wrap {
    width: 100%;
    overflow-x: scroll;
    margin: 1rem 0 2rem;

    table {
        width: auto !important;
        min-width: 100%;
        height: auto !important;
        border-collapse: collapse;
        font-size: 0.8rem;
        line-height: 1.4;
    }

    thead,
    tfoot {
        background: $color_pri;
        color: $color_white;
    }

    thead {
        font-weight: 700;
        text-transform: uppercase;
    }

    tfoot {
        td,
        th {
            padding-top: 0.7em;
            padding-bottom: 0.7em;
        }
    }

    td,
    th {
        border: 1px solid #ccc;
        padding: 1.1em 1.2em;
        text-align: left;
    }

    th {
        min-width: 150px;
        max-width: 300px;

        @include breakpoint($md) {
            min-width: 200px;
            max-width: 500px;
        }
    }

    td {
        min-width: 175px;
    }

    tbody tr:nth-child(even) {
        background: #f0efef;
    }

    tbody td,
    tbody th {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
}






