// ===========================================================================================
//   Helpers
// ===========================================================================================

.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.hidden-text {
    position: absolute;
    left: -99999px;
}

.objectfit {
    &--contain {
        object-fit: contain;
    }
    &--cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.objectfit-shiv {
    &--contain {
        background-size: contain;
        background-position: center;
    }
    &--cover {
        background-size: cover;
        background-position: center;
    }
}
