/* =================================================================================
  12 column grid
  --------------
  Based on display: inline-block; and font-size: 0; + font-size: 1rem;
================================================================================= */

.container {
    width: 100%;
    max-width: $mw;
    margin: 0 auto;
    padding: 0 10px;
}

.columns {
    font-size: 0;
    margin-right: -1.8vw;
    margin-left: -1.8vw;
}

.col {
    display: inline-block;
    width: calc(100% - 3.6vw);
    vertical-align: top;
    margin-right: 1.8vw;
    margin-left: 1.8vw;
    font-size: 1rem;
}

.col-1 {width: calc(8.333% - 3.6vw);}
.col-2 {width: calc(16.666% - 3.6vw);}
.col-3 {width: calc(25% - 3.6vw);}
.col-4 {width: calc(33.333% - 3.6vw);}
.col-5 {width: calc(41.666% - 3.6vw);}
.col-6 {width: calc(50% - 3.6vw);}
.col-7 {width: calc(58.333% - 3.6vw);}
.col-8 {width: calc(66.666% - 3.6vw);}
.col-9 {width: calc(75% - 3.6vw);}
.col-10 {width: calc(83.333% - 3.6vw);}
.col-11 {width: calc(91.666% - 3.6vw);}
.col-12 {width: calc(100% - 3.6vw);}

.col-offset-0 {margin-left: 1.8vw;}
.col-offset-1 {margin-left: calc(8.333% + 1.8vw);}
.col-offset-2 {margin-left: calc(16.666% + 1.8vw);}
.col-offset-3 {margin-left: calc(25% + 1.8vw);}
.col-offset-4 {margin-left: calc(33.333% + 1.8vw);}
.col-offset-5 {margin-left: calc(41.666% + 1.8vw);}
.col-offset-6 {margin-left: calc(50% + 1.8vw);}
.col-offset-7 {margin-left: calc(58.333% + 1.8vw);}
.col-offset-8 {margin-left: calc(66.666% + 1.8vw);}
.col-offset-9 {margin-left: calc(75% + 1.8vw);}
.col-offset-10 {margin-left: calc(83.333% + 1.8vw);}
.col-offset-11 {margin-left: calc(91.666% + 1.8vw);}


@media only screen and (min-width: 350px) {
    .container {
        padding-left: 4vw;
        padding-right: 4vw;
    }
}


@media only screen and (min-width: $sm) {
    .col-sm-1 {width: calc(8.333% - 3.6vw);}
    .col-sm-2 {width: calc(16.666% - 3.6vw);}
    .col-sm-3 {width: calc(25% - 3.6vw);}
    .col-sm-4 {width: calc(33.333% - 3.6vw);}
    .col-sm-5 {width: calc(41.666% - 3.6vw);}
    .col-sm-6 {width: calc(50% - 3.6vw);}
    .col-sm-7 {width: calc(58.333% - 3.6vw);}
    .col-sm-8 {width: calc(66.666% - 3.6vw);}
    .col-sm-9 {width: calc(75% - 3.6vw);}
    .col-sm-10 {width: calc(83.333% - 3.6vw);}
    .col-sm-11 {width: calc(91.666% - 3.6vw);}
    .col-sm-12 {width: calc(100% - 3.6vw);}

    .col-sm-offset-0 {margin-left: 1.8vw;}
    .col-sm-offset-1 {margin-left: calc(8.333% + 1.8vw);}
    .col-sm-offset-2 {margin-left: calc(16.666% + 1.8vw);}
    .col-sm-offset-3 {margin-left: calc(25% + 1.8vw);}
    .col-sm-offset-4 {margin-left: calc(33.333% + 1.8vw);}
    .col-sm-offset-5 {margin-left: calc(41.666% + 1.8vw);}
    .col-sm-offset-6 {margin-left: calc(50% + 1.8vw);}
    .col-sm-offset-7 {margin-left: calc(58.333% + 1.8vw);}
    .col-sm-offset-8 {margin-left: calc(66.666% + 1.8vw);}
    .col-sm-offset-9 {margin-left: calc(75% + 1.8vw);}
    .col-sm-offset-10 {margin-left: calc(83.333% + 1.8vw);}
    .col-sm-offset-11 {margin-left: calc(91.666% + 1.8vw);}
}

@media only screen and (min-width: $md) {
    .container {
        padding-left: 35px;
        padding-right: 35px;
    }

    .col-md-1 {width: calc(8.333% - 3.6vw);}
    .col-md-2 {width: calc(16.666% - 3.6vw);}
    .col-md-3 {width: calc(25% - 3.6vw);}
    .col-md-4 {width: calc(33.333% - 3.6vw);}
    .col-md-5 {width: calc(41.666% - 3.6vw);}
    .col-md-6 {width: calc(50% - 3.6vw);}
    .col-md-7 {width: calc(58.333% - 3.6vw);}
    .col-md-8 {width: calc(66.666% - 3.6vw);}
    .col-md-9 {width: calc(75% - 3.6vw);}
    .col-md-10 {width: calc(83.333% - 3.6vw);}
    .col-md-11 {width: calc(91.666% - 3.6vw);}
    .col-md-12 {width: calc(100% - 3.6vw);}

    .col-md-offset-0 {margin-left: 1.8vw;}
    .col-md-offset-1 {margin-left: calc(8.333% + 1.8vw);}
    .col-md-offset-2 {margin-left: calc(16.666% + 1.8vw);}
    .col-md-offset-3 {margin-left: calc(25% + 1.8vw);}
    .col-md-offset-4 {margin-left: calc(33.333% + 1.8vw);}
    .col-md-offset-5 {margin-left: calc(41.666% + 1.8vw);}
    .col-md-offset-6 {margin-left: calc(50% + 1.8vw);}
    .col-md-offset-7 {margin-left: calc(58.333% + 1.8vw);}
    .col-md-offset-8 {margin-left: calc(66.666% + 1.8vw);}
    .col-md-offset-9 {margin-left: calc(75% + 1.8vw);}
    .col-md-offset-10 {margin-left: calc(83.333% + 1.8vw);}
    .col-md-offset-11 {margin-left: calc(91.666% + 1.8vw);}
}

@media only screen and (min-width: $lg) {
    .col-lg-1 {width: calc(8.333% - 3.6vw);}
    .col-lg-2 {width: calc(16.666% - 3.6vw);}
    .col-lg-3 {width: calc(25% - 3.6vw);}
    .col-lg-4 {width: calc(33.333% - 3.6vw);}
    .col-lg-5 {width: calc(41.666% - 3.6vw);}
    .col-lg-6 {width: calc(50% - 3.6vw);}
    .col-lg-7 {width: calc(58.333% - 3.6vw);}
    .col-lg-8 {width: calc(66.666% - 3.6vw);}
    .col-lg-9 {width: calc(75% - 3.6vw);}
    .col-lg-10 {width: calc(83.333% - 3.6vw);}
    .col-lg-11 {width: calc(91.666% - 3.6vw);}
    .col-lg-12 {width: calc(100% - 3.6vw);}

    .col-lg-offset-0 {margin-left: 1.8vw;}
    .col-lg-offset-1 {margin-left: calc(8.333% + 1.8vw);}
    .col-lg-offset-2 {margin-left: calc(16.666% + 1.8vw);}
    .col-lg-offset-3 {margin-left: calc(25% + 1.8vw);}
    .col-lg-offset-4 {margin-left: calc(33.333% + 1.8vw);}
    .col-lg-offset-5 {margin-left: calc(41.666% + 1.8vw);}
    .col-lg-offset-6 {margin-left: calc(50% + 1.8vw);}
    .col-lg-offset-7 {margin-left: calc(58.333% + 1.8vw);}
    .col-lg-offset-8 {margin-left: calc(66.666% + 1.8vw);}
    .col-lg-offset-9 {margin-left: calc(75% + 1.8vw);}
    .col-lg-offset-10 {margin-left: calc(83.333% + 1.8vw);}
    .col-lg-offset-11 {margin-left: calc(91.666% + 1.8vw);}
}

@media only screen and (min-width: $xl) {
    .columns {
        margin-right: -22px;
        margin-left: -22px;
    }

    .col {
        width: calc(100% - 44px);
        margin-right: 22px;
        margin-left: 22px;
    }

    // base
    .col-1 {width: calc(8.333% - 44px);}
    .col-2 {width: calc(16.666% - 44px);}
    .col-3 {width: calc(25% - 44px);}
    .col-4 {width: calc(33.333% - 44px);}
    .col-5 {width: calc(41.666% - 44px);}
    .col-6 {width: calc(50% - 44px);}
    .col-7 {width: calc(58.333% - 44px);}
    .col-8 {width: calc(66.666% - 44px);}
    .col-9 {width: calc(75% - 44px);}
    .col-10 {width: calc(83.333% - 44px);}
    .col-11 {width: calc(91.666% - 44px);}
    .col-12 {width: calc(100% - 44px);}

    .col-offset-0 {margin-left: 22px;}
    .col-offset-1 {margin-left: calc(8.333% + 22px);}
    .col-offset-2 {margin-left: calc(16.666% + 22px);}
    .col-offset-3 {margin-left: calc(25% + 22px);}
    .col-offset-4 {margin-left: calc(33.333% + 22px);}
    .col-offset-5 {margin-left: calc(41.666% + 22px);}
    .col-offset-6 {margin-left: calc(50% + 22px);}
    .col-offset-7 {margin-left: calc(58.333% + 22px);}
    .col-offset-8 {margin-left: calc(66.666% + 22px);}
    .col-offset-9 {margin-left: calc(75% + 22px);}
    .col-offset-10 {margin-left: calc(83.333% + 22px);}
    .col-offset-11 {margin-left: calc(91.666% + 22px);}

    // sm
    .col-sm-1 {width: calc(8.333% - 44px);}
    .col-sm-2 {width: calc(16.666% - 44px);}
    .col-sm-3 {width: calc(25% - 44px);}
    .col-sm-4 {width: calc(33.333% - 44px);}
    .col-sm-5 {width: calc(41.666% - 44px);}
    .col-sm-6 {width: calc(50% - 44px);}
    .col-sm-7 {width: calc(58.333% - 44px);}
    .col-sm-8 {width: calc(66.666% - 44px);}
    .col-sm-9 {width: calc(75% - 44px);}
    .col-sm-10 {width: calc(83.333% - 44px);}
    .col-sm-11 {width: calc(91.666% - 44px);}
    .col-sm-12 {width: calc(100% - 44px);}

    .col-sm-offset-0 {margin-left: 22px;}
    .col-sm-offset-1 {margin-left: calc(8.333% + 22px);}
    .col-sm-offset-2 {margin-left: calc(16.666% + 22px);}
    .col-sm-offset-3 {margin-left: calc(25% + 22px);}
    .col-sm-offset-4 {margin-left: calc(33.333% + 22px);}
    .col-sm-offset-5 {margin-left: calc(41.666% + 22px);}
    .col-sm-offset-6 {margin-left: calc(50% + 22px);}
    .col-sm-offset-7 {margin-left: calc(58.333% + 22px);}
    .col-sm-offset-8 {margin-left: calc(66.666% + 22px);}
    .col-sm-offset-9 {margin-left: calc(75% + 22px);}
    .col-sm-offset-10 {margin-left: calc(83.333% + 22px);}
    .col-sm-offset-11 {margin-left: calc(91.666% + 22px);}

    // md
    .col-md-1 {width: calc(8.333% - 44px);}
    .col-md-2 {width: calc(16.666% - 44px);}
    .col-md-3 {width: calc(25% - 44px);}
    .col-md-4 {width: calc(33.333% - 44px);}
    .col-md-5 {width: calc(41.666% - 44px);}
    .col-md-6 {width: calc(50% - 44px);}
    .col-md-7 {width: calc(58.333% - 44px);}
    .col-md-8 {width: calc(66.666% - 44px);}
    .col-md-9 {width: calc(75% - 44px);}
    .col-md-10 {width: calc(83.333% - 44px);}
    .col-md-11 {width: calc(91.666% - 44px);}
    .col-md-12 {width: calc(100% - 44px);}

    .col-md-offset-0 {margin-left: 22px;}
    .col-md-offset-1 {margin-left: calc(8.333% + 22px);}
    .col-md-offset-2 {margin-left: calc(16.666% + 22px);}
    .col-md-offset-3 {margin-left: calc(25% + 22px);}
    .col-md-offset-4 {margin-left: calc(33.333% + 22px);}
    .col-md-offset-5 {margin-left: calc(41.666% + 22px);}
    .col-md-offset-6 {margin-left: calc(50% + 22px);}
    .col-md-offset-7 {margin-left: calc(58.333% + 22px);}
    .col-md-offset-8 {margin-left: calc(66.666% + 22px);}
    .col-md-offset-9 {margin-left: calc(75% + 22px);}
    .col-md-offset-10 {margin-left: calc(83.333% + 22px);}
    .col-md-offset-11 {margin-left: calc(91.666% + 22px);}

    // lg
    .col-lg-1 {width: calc(8.333% - 44px);}
    .col-lg-2 {width: calc(16.666% - 44px);}
    .col-lg-3 {width: calc(25% - 44px);}
    .col-lg-4 {width: calc(33.333% - 44px);}
    .col-lg-5 {width: calc(41.666% - 44px);}
    .col-lg-6 {width: calc(50% - 44px);}
    .col-lg-7 {width: calc(58.333% - 44px);}
    .col-lg-8 {width: calc(66.666% - 44px);}
    .col-lg-9 {width: calc(75% - 44px);}
    .col-lg-10 {width: calc(83.333% - 44px);}
    .col-lg-11 {width: calc(91.666% - 44px);}
    .col-lg-12 {width: calc(100% - 44px);}

    .col-lg-offset-0 {margin-left: 22px;}
    .col-lg-offset-1 {margin-left: calc(8.333% + 22px);}
    .col-lg-offset-2 {margin-left: calc(16.666% + 22px);}
    .col-lg-offset-3 {margin-left: calc(25% + 22px);}
    .col-lg-offset-4 {margin-left: calc(33.333% + 22px);}
    .col-lg-offset-5 {margin-left: calc(41.666% + 22px);}
    .col-lg-offset-6 {margin-left: calc(50% + 22px);}
    .col-lg-offset-7 {margin-left: calc(58.333% + 22px);}
    .col-lg-offset-8 {margin-left: calc(66.666% + 22px);}
    .col-lg-offset-9 {margin-left: calc(75% + 22px);}
    .col-lg-offset-10 {margin-left: calc(83.333% + 22px);}
    .col-lg-offset-11 {margin-left: calc(91.666% + 22px);}

    // xl
    .col-xl-1 {width: calc(8.333% - 44px);}
    .col-xl-2 {width: calc(16.666% - 44px);}
    .col-xl-3 {width: calc(25% - 44px);}
    .col-xl-4 {width: calc(33.333% - 44px);}
    .col-xl-5 {width: calc(41.666% - 44px);}
    .col-xl-6 {width: calc(50% - 44px);}
    .col-xl-7 {width: calc(58.333% - 44px);}
    .col-xl-8 {width: calc(66.666% - 44px);}
    .col-xl-9 {width: calc(75% - 44px);}
    .col-xl-10 {width: calc(83.333% - 44px);}
    .col-xl-11 {width: calc(91.666% - 44px);}
    .col-xl-12 {width: calc(100% - 44px);}

    .col-xl-offset-0 {margin-left: 22px;}
    .col-xl-offset-1 {margin-left: calc(8.333% + 22px);}
    .col-xl-offset-2 {margin-left: calc(16.666% + 22px);}
    .col-xl-offset-3 {margin-left: calc(25% + 22px);}
    .col-xl-offset-4 {margin-left: calc(33.333% + 22px);}
    .col-xl-offset-5 {margin-left: calc(41.666% + 22px);}
    .col-xl-offset-6 {margin-left: calc(50% + 22px);}
    .col-xl-offset-7 {margin-left: calc(58.333% + 22px);}
    .col-xl-offset-8 {margin-left: calc(66.666% + 22px);}
    .col-xl-offset-9 {margin-left: calc(75% + 22px);}
    .col-xl-offset-10 {margin-left: calc(83.333% + 22px);}
    .col-xl-offset-11 {margin-left: calc(91.666% + 22px);}
}
