// ===========================================================================================
//   Print
// ===========================================================================================

.visible-print,
.visible-print-block,
.visible-print-inline,
.visible-print-inline-block {
  display: none !important;
}


@media print {
    * {
        background: transparent !important;
        color: black !important;
        box-shadow: none !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }

    @page { margin: 0.5cm; }

    /* a, a:visited { text-decoration: underline; } */
    .content a[href]:after { content: " (" attr(href) ")"; }

    abbr[title]:after { content: " (" attr(title) ")"; }

    a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }

    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }

    thead { display: table-header-group; }

    tr, img { page-break-inside: avoid; }

    img { max-width: 100% !important; }

    p, h2, h3 { orphans: 3; widows: 3; }

    h2, h3 { page-break-after: avoid; }

    .site-header .header-logo a:after { content: ''; }


    .hidden-print {display: none !important;}
    table.visible-print {display: table;}
    tr.visible-print {display: table-row !important;}
    th.visible-print, td.visible-print {display: table-cell !important;}
    .visible-print-block {display: block !important;}
    .visible-print-inline {display: inline !important;}
    .visible-print-inline-block {display: inline-block !important;}
}
