/** wysiwyg style **/

body#tinymce.wp-editor,
.gutenberg .wp-block-freeform.mce-content-body {
    font-family: sans-serif;
}

body#tinymce.wp-editor h1
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4,
body#tinymce.wp-editor h5,
body#tinymce.wp-editor h6,
.gutenberg .wp-block-freeform.mce-content-body h1,
.gutenberg .wp-block-freeform.mce-content-body h2,
.gutenberg .wp-block-freeform.mce-content-body h3,
.gutenberg .wp-block-freeform.mce-content-body h4,
.gutenberg .wp-block-freeform.mce-content-body h5,
.gutenberg .wp-block-freeform.mce-content-body h6 {
    margin-top: 1.25em;
    margin-bottom: .5em;
}

body#tinymce.wp-editor h1,
.gutenberg .wp-block-freeform.mce-content-body h1 {
    font-size: 1.75em;
}

body#tinymce.wp-editor h2,
.gutenberg .wp-block-freeform.mce-content-body h2 {
    font-size: 1.5em;
}

body#tinymce.wp-editor h3,
.gutenberg .wp-block-freeform.mce-content-body h3 {
    font-size: 1.18em;
}

body#tinymce.wp-editor h4,
.gutenberg .wp-block-freeform.mce-content-body h4 {
    font-size: 1.14em;
}

body#tinymce.wp-editor h5,
.gutenberg .wp-block-freeform.mce-content-body h5 {
    font-size: 1.10em;
}

body#tinymce.wp-editor h6,
.gutenberg .wp-block-freeform.mce-content-body h6 {
    font-size: 1.06em;
}

body#tinymce.wp-editor .lead,
.gutenberg .wp-block-freeform.mce-content-body .lead {
    font: 1.2em serif;
}

body#tinymce.wp-editor .callout,
.gutenberg .wp-block-freeform.mce-content-body .callout {
    font: italic 1.2em serif;
}

body#tinymce.wp-editor .call-to-action,
.gutenberg .wp-block-freeform.mce-content-body .call-to-action {
    font-size: 1.2em;
    font-weight: bold;
}

body#tinymce.wp-editor .footnote,
.gutenberg .wp-block-freeform.mce-content-body .footnote {
    font-size: .9em;
    font-style: italic;
}

body#tinymce.wp-editor a[target="_blank"],
.gutenberg .wp-block-freeform.mce-content-body a[target="_blank"] {
    background: rgba(0, 102, 204, 0.1);
}

body#tinymce.wp-editor a[target="_blank"] img,
.gutenberg .wp-block-freeform.mce-content-body a[target="_blank"] img {
    border: 2px solid rgba(0, 102, 204, 0.1);
}
